<a href="https://www.kaggle.com/code/kalalshivagoud/handling-null-values?scriptVersionId=257267165" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import pandas as pd

In [2]:
d={
    'students':['shiva','mahi','pavan','kalyan','None'],
    'marks':[None,14,23,15,None],
    'age':[18,18,None,None,None]
}
    
d

{'students': ['shiva', 'mahi', 'pavan', 'kalyan', 'None'],
 'marks': [None, 14, 23, 15, None],
 'age': [18, 18, None, None, None]}

In [3]:
df=pd.DataFrame(d)
df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

  students  marks   age
0    shiva    NaN  18.0
1     mahi   14.0  18.0
2    pavan   23.0   NaN
3   kalyan   15.0   NaN
4     None    NaN   NaN

In [4]:
df.dropna()

  students  marks   age
1     mahi   14.0  18.0

In [5]:
df.dropna(how='all')
df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

  students  marks   age
0    shiva    NaN  18.0
1     mahi   14.0  18.0
2    pavan   23.0   NaN
3   kalyan   15.0   NaN
4     None    NaN   NaN

In [6]:
df.dropna(how='all',inplace=True)
df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

  students  marks   age
0    shiva    NaN  18.0
1     mahi   14.0  18.0
2    pavan   23.0   NaN
3   kalyan   15.0   NaN
4     None    NaN   NaN

In [7]:
df['age'] = df['age'].fillna(18)
df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

  students  marks   age
0    shiva    NaN  18.0
1     mahi   14.0  18.0
2    pavan   23.0  18.0
3   kalyan   15.0  18.0
4     None    NaN  18.0