<a href="https://www.kaggle.com/code/kalalshivagoud/ranking-tha-data-using-rank-function?scriptVersionId=257266823" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import pandas as pd

In [2]:
d={
    'country':['India','China','Japan','Bangladesh','Singapur'],
    'Gold':[12,30,11,3,None]
}
a=pd.DataFrame(d)
a

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

      country  Gold
0       India  12.0
1       China  30.0
2       Japan  11.0
3  Bangladesh   3.0
4    Singapur   NaN

In [3]:
a['Rank']=a['Gold'].rank(ascending=False)
a.sort_values('Rank',inplace=True)
a

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

      country  Gold  Rank
1       China  30.0   1.0
0       India  12.0   2.0
2       Japan  11.0   3.0
3  Bangladesh   3.0   4.0
4    Singapur   NaN   NaN

In [4]:
a['Rank']=a['Gold'].rank(ascending=False,na_option='bottom')
a.sort_values('Rank',inplace=True)
a

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

      country  Gold  Rank
1       China  30.0   1.0
0       India  12.0   2.0
2       Japan  11.0   3.0
3  Bangladesh   3.0   4.0
4    Singapur   NaN   5.0

**what if data is same**

In [5]:
d={
    'country':['India','China','Japan','Bangladesh','Singapur'],
    'Gold':[12,30,12,3,None]
}
a=pd.DataFrame(d)
a

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

      country  Gold
0       India  12.0
1       China  30.0
2       Japan  12.0
3  Bangladesh   3.0
4    Singapur   NaN

In [6]:
a['Rank']=a['Gold'].rank(ascending=False)
a.sort_values('Rank')
a

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

      country  Gold  Rank
0       India  12.0   2.5
1       China  30.0   1.0
2       Japan  12.0   2.5
3  Bangladesh   3.0   4.0
4    Singapur   NaN   NaN

In [7]:
a['Rank']=a['Gold'].rank(ascending=False,method='min')
a.sort_values('Rank')
a

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

      country  Gold  Rank
0       India  12.0   2.0
1       China  30.0   1.0
2       Japan  12.0   2.0
3  Bangladesh   3.0   4.0
4    Singapur   NaN   NaN